.contacts {
	width: 100%;
	@media (min-width: $screen-xs) {
			display: flex;
			justify-content: space-between;
			&__time {
				display: none;				
			}
			&__location {
				display: none;	
			}
			&__location--footer {
				display: block;
			}			
 	}
 	@media (min-width: $screen-sm) {
			display: flex;
			justify-content: flex-end;
			&__hamburger {
				display: none;
			}
			&__cross {
				display: none;
			}
			&__time  {
			display: flex;
			justify-content: flex-end;
			width: 23%;
			}
			&__location {
			display: flex;
			justify-content: flex-end;
			width: 25%;
			}
			&__phone {
			display: flex;
			justify-content: flex-end;
			width: 22%;
			}
 	}
 	@media (min-width: $screen-lg) {
 			&__time  {
				width: 18%;
			}
			&__location {
				width: 18%;
			}
			&__phone {
				width: 18%;
			}
	}
 }
 	


