.hamburger {
	width: %; 
    height: 20px; 
    border: none; 
    background: url(../img/burger.png) no-repeat;
    margin: 0 15px 0 0;;
    background-color: transparent;
    cursor: pointer;
    outline::none;
}
.contacts__cross  {
	width: 8%; 
    height: 24px; 
    border: none; 
    background: url(../img/cross.png) no-repeat;
    margin: 0 14px 0 0;;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}