.humburger-hide {
	width: 100%;
	background-color: $background-color-rose;
	font-family: $font-family-pn;
	font-size: $font-size + 18px;
	height: 372px;
	//display: none;
.humburger__social {
	padding-bottom: 15px;
}
}