.item-gallary { 	
	position: relative;
	margin: 10px;
	display: block;
	outline: none;	
    img{
		margin: 0 auto;
		width: 100%;
		height: 100%;
	}

	// @media (min-width: $screen-xs) {	
// .item-dark {
	// display: none;
	// }
// }
// @media (min-width: $screen-sm) {	
.item-dark {
	display: block;
  	position: absolute;
  	background-color: #000;
  	height: 100%;
  	opacity: 0;
  	width: 100%;
}
.item-dark:hover {
   opacity: 0.5;
}
	
	@media (min-width: $screen-lg) {
	&__loupe {
	position: absolute;
    left: 40%;
    top: 40%;
    z-index: 5;
    border: 2px solid $text-color-w;
	border-radius:50px;
	width: 70px;
	height: 70px;
	bottom: 20px;
    }	
	&__loupe:before{
		position: absolute;
		content: '';
		border-left: 2px solid $text-color-w;
		width: 2px;
		height: 32px;
		left: 34px;
		bottom: 20px;
	}
	&__loupe:after{
		position: absolute;
		content: '';
		border-bottom: 2px solid $text-color-w;
		width: 32px;
		height: 2px;
		left: 19px;
		bottom: 35px;
	}
	&__line{
		position: absolute;
		content: '';
		border-bottom: 2px solid $text-color-w;
		width: 35px;
		height: 2px;
		left: 56px;
		bottom: -5px;
		transform: rotate(45deg);
	}
}

}