.phone {	
	font-family: $font-family-pnl;
	font-size: $font-size + 2px;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	&:before {
	  content: '';
	  margin: 0;
	  display: inline-block;
	  width: 25px;
	  height: 20px;
	  padding: 0;
	  background: url(../img/phone.png) 0 0 no-repeat;
	  }	
	  @media (min-width: $screen-xs) {
		margin: 2px 2px 2px 12px;
		&--white{ 
			font-size: $font-size;}
	 	}
	 @media (min-width: $screen-sm) {
		margin: 2px 2px 2px 2px;
		&--white{
			font-size: $font-size +2px;
		}
	 }	
}
 .phone--white:before {
	 background: url(../img/phone_footer.png) 0 0 no-repeat;
	 background-size: 60%;	
	 }
	