.price {
		color: $text-color-trace;	
	@media (min-width: $screen-xs) {		
		&__container {
			width: 100%;
			margin: 0 auto;
			height: 100%;
		}
		table {
			display: none;
		}
		.select {
			display: block;
		}
		&__addinfo  {
			display: block;
		}
		}
	@media (min-width: $screen-sm) {		
		&__container {
			width: 96%;
			margin: 0 auto;
			height: 100%;
		}
		table {
			display: block;
		}
		.select {
			display: none;
		}
		&__addinfo {
			display: flex;
			justify-content: center;
		.addinfo__ditails {
				display: none;
			}
			}
		}
	@media (min-width: $screen-lg) {
		&__container {
			width: 1200px;
			margin: 0 auto;
			height: 100%;
			}
		}
	}
