@include sprites($spritesheet-sprites);

.humburger__social {
	width: 35%;
	display: block;
	margin: auto;
	text-align: center;
    padding: 0;
}
.social__item {
	display: inline-block;
	padding: 0 4px;
}
.sprite {
	display: block;
}
.page-footer__item {
	@media (min-width: $screen-xs) {
		.twitter-xs, .instagram-xs, .vk-xs {
			display: inline-block;
		}
		.twitter, .instagram, .vk {
			display: none;
		}
	}
	@media (min-width: $screen-sm) {
		.twitter-xs, .instagram-xs, .vk-xs{
			display: none;
		}
		.twitter, .instagram, .vk {
			display: inline-block;
		}
	}
}
