
.table-price {
	width: 100%;
	border-collapse: collapse; 
	&__header {
		background-color: $background-color-table-lg;
		text-transform: uppercase;
		color: $text-color-w;
		font-family: $font-family-os;
		font-size: $font-size + 2px;
	}
	&__header--column {
		height: 60px;
	}
	&__header--row {
		height: 64px;
	}
	&__data--transparent {
		height: 60px;
	}
	&__data--background {
		background-color: $background-color-rose-td;
		height: 58px;
		text-align: center;
		font-family: $font-family-pn;
		font-size: $font-size + 2px;
	}
	&__data {
		text-align: center;
		//height: 60px;
	}
	&__data--price {
		text-align: right;
		font-family: $font-family-os;
		font-size: $font-size + 4px;
	}
	&__time {
		font-weight: bold;
	}
	&__data--price:hover {
		outline: 2px solid $background-color-table-dt;
    	outline-offset: 0px;
	}
	.table-check-box{
		width: 15px;
    	height: 20px;
    	
    	display: inline-flex;
    	margin-left: 30%;
    	margin-right: 5%;
	}
	.table-price__data--active {
		outline: 2px solid $background-color-arrows;
		.table-check-box {
		transform: rotate(45deg);
    	border-right: 2px solid $background-color-arrows;
    	border-bottom: 2px solid $background-color-arrows;    	
		}	
	}
	.addtime, .operator {
		font-family: $font-family-pn;
		font-size: $font-size +2px;
		text-transform: uppercase;
	}
	@media (min-width: $screen-sm) {
		.table-price__header--row {
		width: 50%;
	}
		.table-price__header--column {
		width: 25%;
		}
	}

	@media (min-width: $screen-lg) {
		margin-bottom: 15px;		
		.table-price__header--row {
		width: 30%;
		opacity: 0.9;
    	border-color: #55616d;
    	padding: 0;
	}
		.table-price__header--column {
		width: 30%;
		}
		.table-price__data--background {
		text-align: left;
		padding-left: 55px;
		}
	.table-price__header--transparent {
		background-color: transparent;
	}
	}

}