.total-price {
	font-family: $font-family-os;
    font-size: $font-size + 2px;
    background-color: $background-color-rose;
    height: 55px;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-top: -17px;
    &__text {
        padding: 0 27px;

    }
    @media (min-width: $screen-sm) {
     display: none;
    }
    
    
}