.trace {
	outline: none;
	display: block;
	color: $text-color-w;
	margin: auto;
	text-align: center;
	color: $background-color-violet;
	
	&__description {
		font-family: $font-family-os;
		font-size: $font-size + 2px;
		height: 100px;

	}
	&__height {
		text-shadow: 2px 2px 2px #000;
		display: inline-block;		
		font-family: $font-family-os;
		font-size: $font-size + 2px;	
	}
	&__height:before {
		content: '';
		background: url(../img/mountin.png) 0 0 no-repeat;
		margin: 0;
		padding: 0 3px;
		width: 35px;
		height: 22px;
		display: inline-block;
	}
	&__age {
		text-shadow: 2px 2px 2px #000;
		display: inline-block;
		padding-bottom: 20px;
		font-family: $font-family-os;
		font-size: $font-size +2px;	
	}
	&__age:before {
		content: '';
		background: url(../img/age.png) 0 0 no-repeat;
		margin: 0;
		padding: 0 5px;
		width: 24px;
		height: 24px;
		display: inline-block;
	}
	@media (min-width: $screen-xs) {
		
		margin: 20px;
		min-height: 577px;
		margin-top: -140px;
		
		img {
			//position: relative;
			width: 100%;
			max-width: 400px;
			margin: auto;
			//top: -165px;
			z-index: 1;
			max-height: 80%;
			}
		&__header {
			position: relative;
			top: 150px;
			z-index: 3;
			width: 93%;
			margin: auto;
			display: -ms-grid;
			display: grid;
			}
		&__title {
			text-shadow: 2px 2px 2px #000;
			//padding: 40px 40px 10px 0px;
			//margin: auto;
			//width: 150px;
			font-family: $font-family-pnb;
			font-size: $font-size + 16px;		
		}	
		&__height {
			//width: 150px;
			margin: 0 30px;	
		}
		&__age {
			//width: 150px;
			margin: 0 30px;
		}
		.trace__inner {
			position: relative;
    	
    		bottom: 80px;
    		display: block;
    		
    		z-index: 3;
			}
		&__description {
			
			margin: auto;
			padding-left: 2%;
			width: 82%;
			max-width: 400px;
		}	
	}
	@media (min-width: $screen-sm) {
		width: 28%;	
		margin: 0px 5px;
		height: auto;
		
		img {
			display: block;
			position: static;
			width: 100%;
		}
		.trace {
			display: block;
			background: none;	
			}
		.trace__inner {
			position: static;
			width: 100%;
			}
		&__description {
			position: static;
			width: 94%;
			margin: auto;
			padding: 35px 6px 15px 6px;			
			}
		&__inner {
			background-color: $text-color-trace;
			}
			
		&__description--transparent {			
			padding: 20px 6px 30px 6px;
			}
		&__inner--transparent {
			background-color: $text-color-trace-tr-d;
			opacity: 0.7;
		}
		&__header {
			background-color: $text-color-trace;
			position: static;
			width: 100%;
			}
		&__header--transparent {
			background-color: $text-color-trace-tr-h;
			opacity: 0.7;
			}
		&__title {
			text-shadow: 2px 2px 2px #000;
			padding: 0;
			margin-bottom: 12px;	
			}
	}
	@media (min-width: $screen-lg) {
		width: 18%;	
		margin: 20px 5px;
		&--first {
		margin: 20px 5px 20px 20px;
		}
		&--fifth {
			margin: 20px 20px 20px 5px;
		}

		&:hover {
			box-shadow: -1px 1px 20px #000;
		}
		&--second {			
			margin-top: 90px;
	    	position: relative;
		}
		&--fourth {			
			margin-top: 90px;
	    	position: relative;
		}

	}
}
