.up {
	display: block;    
    border: 2px solid;
    border-radius: 50%;
    margin-left: 40px;
    .row-up {
    position: absolute;    
    border-left: 2px solid $text-color-footer;
    border-top: 2px solid $text-color-footer;
    transform: rotate(45deg);
    right: 8px;    
  }
@media (min-width: $screen-xs) {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 12px;
    margin-bottom: 30px;
    position: relative;
    bottom: 50px;
    left: 0px;
    .row-up {
      width: 12px;
      height: 12px;
      bottom: 5px;
    }
}
@media (min-width: $screen-sm) {
    width: 36px;
    height: 36px;
    margin-left: 14px;
    margin-right: 12px;
    position: relative;
    top: 10px;
    left: 0;
    .row-up {
      width: 17px;
      height: 17px; 
      bottom: 3px;
    }
}
@media (min-width: $screen-lg) {
    top: 0;
    margin-left: 40px;
    margin-top: 45px;
    margin-bottom: 0;
}
}