@font-face {
 font-family: 'ProximaNovaBold';
  src:url('../fonts/Proxima_Nova_Bold.otf');
}
@font-face {
 font-family: 'ProximaNovaExraBold';
  src:url('../fonts/Proxima_Nova_ExraBold.otf');
}
@font-face {
 font-family: 'ProximaNovaLight';
  src:url('../fonts/Proxima_Nova_Light.otf');
}
@font-face {
 font-family: 'ProximaNovaRegular';
  src:url(../fonts/Proxima_Nova_Regular.otf);
}
@font-face {
 font-family: 'ProximaNovaSemibold';
  src:url('../fonts/Proxima_Nova_semibold.otf');
}
@font-face {
 font-family: 'ProximaNovaThin';
  src:url('../fonts/Proxima_Nova_Thin.otf');
}
@font-face {
 font-family: 'OpenSan';
  src:url('../fonts/open-sans_allfont_ru.ttf'); 
}